
.titlename{
    font-family: Bebas Neue;
    text-align:center;
    font-size: 40px;
    color:  #303030;
}



body{
    background-color:lightblue;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:   #303030;
    position: sticky;
  top: 0;
  box-shadow: 5px 5px 2.5px grey;
  }
  
  li {
    float: left;
    padding-left:5vw;
    font-family: 'Andika';
    font-size:18px;
    font-weight:bold;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 18px 20px;
    text-decoration: none;
  }
  
  li a:hover {
    border-color: lightblue;
    border-style: none none solid none ;
    height: 13px;
  }

  #boxes2{
    font-family: 'Andika';
    background-color:white;
    color:#303030;
    border-color:grey;
    border-style:solid;
    

    
  }

  #textwithin{
      padding-left: 1vw;
      padding-right:1vw;
    font-size: 2vw;
  }
  .stuff1{

  flex-wrap: nowrap;
  padding:3px;
  border-radius: 5px;
  padding: 20px;
  
  }


.container {
  border-radius: 5px;
  padding: 20px;
}



.python{
  float:right;
width:100px;
  height:100px;
    padding-right:20vw;
}



.python2{
  float:left;
  width:100px;
  height:100px;
  padding-left:20vw;
  
}




/*contact form*/
    
    input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #303030;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: black;
}



/*J1*/
.heading{
    font-family: 'Andika';
    font-size: 20px;
    color:  #303030;
}

.paragraph{
    font-family: 'Andika';
    font-size: 15px;
    color:  #303030;
}





button{
  font-family: 'Andika'; 
  display: block; 
}

.button {
  background-color:#39a0ca; 
  color:white;
  font-size:25px;
}
.button1 {
  background-color:white;
  color:black;
  font-size:20px;
}


#J1-button, #J1-button2020, #J1-2020, 
#J1-button2019, #J1-2019,
#J1-button2018, #J1-2018,
#J1-button2017, #J1-2017,
#J1-button2016, #J1-2016,
#J1-button2011, #J1-2011
{ 
  display:none;
  background-color:white;
  font-family: 'Andika'; 
  color:black;
    font-size: 15px;
  padding:20px;
  text-align: left;
  
}

#J2-button, 
#J2-practice, #J2-practice14,
#J2-button2020, #J2-2020,
#J2-button2018, #J2-2018,
#J2-button2008, #J2-2008 {
  display:none;
  background-color:white;
  font-family: 'Andika'; 
  color:black;
  font-size: 15px;
  padding:20px;
  text-align: left;
}


#J3-button, 
#J3-button2020, #J3-2020,
#J3-button2008, #J3-2008,
#J3-button2004, #J3-2004{
  display:none;
  background-color:white;
  font-family: 'Andika'; 
  color:black;
  font-size: 15px;
  padding:20px;
  text-align: left;
}




#S1-button2020, #S1-2020,
#S1-button2019, #S1-2019,
#S1-button2018, #S1-2018,
#S1-button2009, #S1-2009{
  display:none;
  background-color:white;
  font-family: 'Andika'; 
  color:black;
  font-size: 15px;
  padding:20px;
  text-align: left;
}



#S3-button2020, #S3-2020,
#S3-button2014, #S3-2014
{
  display:none;
  background-color:white;
  font-family: 'Andika'; 
  color:black;
  font-size: 15px;
  padding:20px;
  text-align: left;
}









/*real home page */

.house{

  width:25px;
  height:25px;
}


.balloons{


}







